#main-div {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    gap: 30px;
    font-family: "Icedrink";

    .texts {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: #1f2937;

      h1 {
        font-size: 2.3em;
        text-align: center;
      }

      h2 {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        text-align: center;
        font-size: 1em;
      }
    }

    .condition {
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .upper {
        display: flex;
        justify-content: center;
        gap: 15px;

        p {
          font-size: 2em;
          font-weight: 700;
          align-self: center;
          color: #1f2937;
        }
      }

      .lower {
        display: flex;
        flex-direction: column;
        gap: 10px;

        p {
          font-size: 1.5em;
          color: #1f2937;
          text-align: center;
        }

        .feel,
        .wind {
          font-size: 1.1em;
          color: #64748b;
          text-align: center;
        }
      }
    }
  }
}
