#main-div {
  .container {
    display: flex;
    justify-content: center;
    padding: 50px;

    .texts {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: #1f2937;

      h1 {
        font-family: "Icedrink";
        font-size: 2.3em;
        text-align: center;
      }

      h2 {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        text-align: center;
        font-size: 1em;
      }
    }
  }
}
