@use "/src/styles/header.scss";
@use "/src/styles/main.scss";

@font-face {
  font-family: "Icedrink";
  src: url("/src/assets/fonts/youngserif.regular.otf");
}

@font-face {
  font-family: "Nepoboy";
  src: url("/src/assets/fonts/Nepoboy-K7Y4Z.ttf");
}

$body-color: #d1d5db;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $body-color;
  height: 100vh;
}
